<div class="login" ng-hide="registered_yet">
	<h1>Save your place and see how you score</h1>
	<h2>Sign up through email or Facebook and we'll let you know how well your predictions ranked after the speech.</h2>
	<label>Email</label>
	<input type="text" placeholder="you@email.com" ng-model="email"/>
	<input type="button" value="Go" ng-click="submitUser(); registered_yet=true">
	<label id="or">or</label>
	<input type="button" class="facebook" value="Sign on using Facebook" ng-click="FBlogin()" />
</div>
