@font-face {
	font-family: "FreightSans";
	font-weight:400;
	src: url("fonts/FreigSanProMed.otf") format("opentype");
}

@font-face {
	font-family: "FreightSans";
	font-weight: 600;
	src: url("fonts/FreigSanProSem.otf") format("opentype");
}

@font-face {
	font-family: "FreightSans";
	font-weight: 800;
	src: url("fonts/FreigSanProBold.otf") format("opentype");
}

@font-face {
	font-family: "FreightSans";
	font-weight: 100;
	src: url("fonts/FreigSanProLig.otf") format("opentype");
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

body {
	font-family: FreightSans;
}

.content {
	width: 90%;
	max-width:600px;
	margin:auto;
}

	.content .guessContainer {
		width:100%;
		margin-bottom:70px;
		padding-bottom:70px;
		border-bottom:1px solid rgba(0,0,0,.4);
		position:relative;
	}
	
		.content .guessContainer:before{
			content: attr(number);
			padding: 0px 30px 10px;
			font-size: 30pt;
			font-weight: bold;
			position: absolute;
			top: 10px;
			left: -100px;
			background-color: #FFE4BF;
			line-height: 40px;
			height: 40px;
			color: rgba(0,0,0,.4);
		}

		.content .guessContainer h1 {
			font-family: FreightSans;
			font-weight:600;
			font-size:40pt;
			color: #FAA61A;
			text-align:center;
			margin:10px 0px;
			line-height:1em;
			margin-top:0px;
		}
			.content .guessContainer h1:before, .content .guessContainer h1:after {
				color: #E6E7E8;
				font-weight:400;
				font-size:40pt;
				margin: 0px 10px;
				position:relative;
				top:10px;
			}
		
				.content .guessContainer h1:after { content: "\201D"; }
		
				.content .guessContainer h1:before { content: "\201C"; }
			
		.content .guessContainer p {
			font-family: "FreightSans";
			font-weight: 400;
			font-size: 14pt;
			width:100%;
			line-height: 1.26em;
		}
		
			.content .guessContainer strong {
				color: #FAA61A;
				text-transform: uppercase;
				
			}
	
		.content .guessContainer .quoteBox{
			width: 80%;
			min-height: 40px;
			padding:10px;
			font-size: 11pt;
			margin:30px auto 0px;
			background-color:rgba(0, 0, 0, .08);
			text-align: center;
			overflow:hidden;
			position:relative;
		}
		
			.content  .guessContainer .quoteBox .quote {
				width:95%;
				color:black;
				position:absolute;
				top:10px;
				-webkit-animation: enter_sequence 1s ease-out;
				-moz-animation: enter_sequence 1s ease-out;
				animation: enter_sequence 1s ease-out;
			}
				
				@-webkit-keyframes enter_sequence {
					0% { left:-100%; opacity: 0}
					50% { left:-100%; opacity: 0}
					100% { left:2.5%; opacity: 1}
				}
				
				@-moz-keyframes enter_sequence {
					0% { left:-100%; opacity: 0}
					50% { left:-100%; opacity: 0}
					100% { left:2.5%; opacity: 1}
				}
			
				@keyframes enter_sequence {
					0% { left:-100%; opacity: 0}
					50% { left:-100%; opacity: 0}
					100% { left:2.5%; opacity: 1}
				}
			
				.content  .guessContainer .quoteBox .quote.ng-hide {
					display:block;
					-webkit-animation: exit_sequence 1s ease-out;
					-moz-animation: exit_sequence 1s ease-out;
					animation: exit_sequence 1s ease-out;
				}
					@-webkit-keyframes exit_sequence {
						0% { left:2.5%; opacity: 1}
						50% { left:100%; opacity: 0}
						100%{ left: -100%; opacity: 0}
					}
					
					@-moz-keyframes exit_sequence {
						0% { left:2.5%; opacity: 1}
						50% { left:100%; opacity: 0}
						100%{ left: -100%; opacity: 0}
					}
					
					@keyframes exit_sequence {
						0% { left:2.5%; opacity: 1}
						50% { left:100%; opacity: 0}
						100%{ left: -100%; opacity: 0}
					}
					
		.content .guessContainer .chart {
			width: 80%;
			margin: 35px auto 30px;
			border-top: 4px solid rgba(0,0,0,1);
			border-bottom: 1px solid rgba(0,0,0,.4);
			padding-top:5px;
			padding-bottom:15px;
			font-weight:800;
		}
			
			.content .guessContainer .chart .header {
					margin-bottom: 20px;
				
			}
		
			.content .guessContainer .chart .chartContainer {
				height:200px;
				width:90%;
				margin: 0px auto 15px;
				position: relative;
			}
			
				.content .guessContainer .chart .chartContainer bar {
					position: absolute;
					background-color: #FAA61A;
					text-align: center;
					color: rgba(255,255,255,.9);
					text-shadow: none;
					font-size:14pt;
					transition: .25s all;
					
				}
					
					.content .guessContainer .chart .chartContainer bar:after{
						content: attr(year);
						position:absolute;
						bottom:-20px;
						color:black;
						width:100%;
						text-align:center;
						left:0;
						font-size:12pt;
					}
		
		.content .guessContainer .sliderBox  {
			width: 100%;
			margin-top:35px;
			transition: .25s all;
		}
		
			.content .guessContainer .sliderBox.disabled {
				opacity: .5;
				cursor:default;
				z-index:-1;
				pointer-events:none;
			}
		
			.content .guessContainer .sliderBox input[type=text]{
				width:8%;
				margin-right: 2%;
				float:left;
				font-family: FreightSans;
				font-size: 14pt;
				border: 1px solid lightgray;
				text-align: Center;
				margin-top: -14px;
				padding: 6px 0px 10px;
				border-radius:5px;
				box-shadow: inset 0px 0px 3px lightgray;
			}
			
			.content .guessContainer .sliderBox input[type=range]{
			    -webkit-appearance: none;
				width: 89%;
				float:left;
			}

			.content .guessContainer .sliderBox input[type=range]::-webkit-slider-runnable-track {
				width:100%;
			    height: 5px;
			    background: #ddd;
			    border: none;
			    border-radius: 3px;
			}

			.content .guessContainer .sliderBox input[type=range]::-webkit-slider-thumb {
			    -webkit-appearance: none;
			    border: none;
			    height: 30px;
			    width: 30px;
			    border-radius: 50%;
			    background: #FAA61A;
			    margin-top: -12px;
				cursor:pointer;
			}

			.content .guessContainer .sliderBox input[type=range]:focus {
			    outline: none;
			}

			.content .guessContainer .sliderBox input[type=range]:focus::-webkit-slider-runnable-track {
			    background: #ccc;
			}

		.content .guessContainer .buttonBox {
			width:100%;
			//float:left;
			margin:auto;
			text-align:center;
		}
		
			.content .guessContainer .buttonBox input {
				font-family: FreightSans, sans-serif; 
				margin: 20px auto 0px;
				border:none;
				background-color: #FAA61A;
				border-radius:5px;
				padding:10px 35px;
				font-weight:900;
				color: rgba(255,255,255,.95);
				font-size:14pt;
				text-transform: uppercase;
				
			}
				
				
				.content .guessContainer .buttonBox input:active {
					box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
				}
				
				.content .guessContainer .buttonBox input:focus, .content .guessContainer .buttonBox input:hover {
					background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
					cursor: pointer;
				}
			
				.content .guessContainer .buttonBox input.submitted {
					background-color:#76B6E3;
				}
					.content .guessContainer .buttonBox input.submitted:hover {
						cursor:default;
					}
					
			.ui-btn-active {
				background-color: #FAA61A !important;
			}	
		
		
		
		
		