@font-face {
    font-family: 'FreightSans';	
	src: url("fonts/FreigSanProLig.otf") format("opentype");
    src: url('fonts/freigsanprolig-webfont.eot');
    src: url('fonts/freigsanprolig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/freigsanprolig-webfont.woff2') format('woff2'),
         url('fonts/freigsanprolig-webfont.woff') format('woff'),
         url('fonts/freigsanprolig-webfont.ttf') format('truetype'),
         url('fonts/freigsanprolig-webfont.svg#freightsans_prolight') format('svg');
    font-weight: 100;
}

@font-face {
    font-family: 'FreightSans';
	src: url("fonts/FreigSanProMed.otf") format("opentype");
    src: url('fonts/freigsanpromed-webfont.eot');
    src: url('fonts/freigsanpromed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/freigsanpromed-webfont.woff2') format('woff2'),
         url('fonts/freigsanpromed-webfont.woff') format('woff'),
         url('fonts/freigsanpromed-webfont.ttf') format('truetype'),
         url('fonts/freigsanpromed-webfont.svg#freightsans_promedium') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'FreightSans';
	
	src: url("fonts/FreigSanProSem.otf") format("opentype");
    src: url('fonts/freigsanprosem-webfont.eot');
    src: url('fonts/freigsanprosem-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/freigsanprosem-webfont.woff2') format('woff2'),
         url('fonts/freigsanprosem-webfont.woff') format('woff'),
         url('fonts/freigsanprosem-webfont.ttf') format('truetype'),
         url('fonts/freigsanprosem-webfont.svg#freightsans_prosemibold') format('svg');
    font-weight: 600;
}

@font-face {
    font-family: 'FreightSans';
	src: url("fonts/FreigSanProBold.otf") format("opentype")
    src: url('fonts/freigsanprobold-webfont.eot');
    src: url('fonts/freigsanprobold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/freigsanprobold-webfont.woff2') format('woff2'),
         url('fonts/freigsanprobold-webfont.woff') format('woff'),
         url('fonts/freigsanprobold-webfont.ttf') format('truetype'),
         url('fonts/freigsanprobold-webfont.svg#freightsans_probold') format('svg');
    font-weight: 900;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

body {
	font-family: FreightSans;
}

.content {
	width: 90%;
	max-width:700px;
	margin:auto;
}
	
	.content ul.legend {
		
	}
	
		.content ul.legend li {
			display:inline-block;
			font-weight:900;
			margin-right:15px;
			font-size:11pt;
		}
		
				.content ul.legend li .block:before {
					content: "\00a0";
					width:30px;
					display:inline-block;
					margin-right:5px;
				}
					.content ul.legend li .block#obamas:before{
						background-color: #FAA61A;
					}
					.content ul.legend li .block#yours:before{
						background-color: rgba(118,182,227,1);
					}
					.content ul.legend li .block#theirs:before{
						background-color: rgba(38, 126, 193,1);
					}
				
	.content .guessContainer {
		width:100%;
		margin-top:30px;
		margin-bottom:70px;
		padding-bottom:70px;
		border-bottom:1px solid rgba(0,0,0,.4);
		position:relative;
		
	}
	
		.content .guessContainer:first-child {
			border-top:1px solid rgba(0,0,0,.4);
			padding-top: 70px;
		}
	
		.content .guessContainer:before{
			content: attr(number);
			padding: 0px 30px 10px;
			font-size: 30pt;
			font-weight: bold;
			position: absolute;
			top: 10px;
			left: -100px;
			background-color: rgba(250,166,26,.5);
			line-height: 40px;
			height: 40px;
			color: rgba(255,255,255,.9);
		}
		
		.content .guessContainer .login {
			width: 94%;
			background-color: #fafafa;
			padding: 3%;
			border-radius: 10px;
			margin:30px auto;
			border: 1px solid lightgray
		}

			.content .guessContainer .login h1 {
				margin: 0;
				padding: 0;
				line-height: 1em;
				font-size:18pt;
			}

			.content .guessContainer .login h2 {
				margin: 5px 0px 13px;
				padding: 0;
				font-weight: 100;
				font-size: 15pt;
			}

			.content .guessContainer .login label , #or {
				font-weight:100;
				margin-top:10px;
				font-size:11pt;
				text-transform:uppercase;
				margin-bottom:5px;
				width: 4%;
				margin-right:1%;
			}

				#or {
					display: block;
					text-align: center;
					width: 100%;
					font-weight: 400;
					margin: 10px 0px;
				}

			.content .guessContainer .login input[type=text]{
				width: 83%;
				padding: 1%;
				font-family: FreightSans, sans-serif;
				color: #555;
			}

			.content .guessContainer .login input[type=button]{
				padding: 1%;
				font-family: FreightSans, sans-serif;
				color: #555;
				width:6.7%;
			}

			.content .guessContainer .login input[type=button].facebook { 

				width:100%;
				background-color: #3B5998;
				color:white;
				font-weight: bold;
				font-size: 12pt;
				padding:1% 2%;
				border:0;
			}

		.content .success {
			width:96%;
			background-color: #9DBFB9;
			border-radius: 5px;
			padding:2% 2%;
			color: #00473B;
			border: 1px solid #62998F;
			margin:20px 0px;
		}

		.content .guessContainer h1.phrase {
			font-family: FreightSans, Helvetica, Arial, sans-serif;
			font-weight:600;
			font-size:40pt;
			color: #FAA61A;
			text-align:center;
			margin:10px 0px;
			line-height:1em;
			margin-top:0px;
		}
			.content .guessContainer h1.phrase:before, .content .guessContainer h1.phrase:after {
				color: #E6E7E8;
				font-weight:400;
				font-size:40pt;
				margin: 0px 10px;
				position:relative;
				top:10px;
			}
		
				.content .guessContainer h1.phrase:after { content: "\201D"; }
		
				.content .guessContainer h1.phrase:before { content: "\201C"; }
			
		.content .guessContainer p {
			font-family: "FreightSans", Helvetica, Arial, sans-serif;
			font-weight: 400;
			font-size: 14pt;
			width:100%;
			line-height: 1.26em;
		}
		
			.content .guessContainer strong {
				color: #FAA61A;
				text-transform: uppercase;
				
			}
	
		.content .guessContainer .quoteBox{
			width: 70%;
			min-height: 50px;
			padding:10px;
			font-size: 11pt;
			margin:30px auto 0px;
			background-color:rgba(0, 0, 0, .08);
			text-align: center;
			overflow:hidden;
			position:relative;
		}
		
			.content  .guessContainer .quoteBox .quote {
				width:95%;
				color:black;
				position:absolute;
				top:10px;
				-webkit-animation: enter_sequence 1s ease-out;
				-moz-animation: enter_sequence 1s ease-out;
				animation: enter_sequence 1s ease-out;
			}
						
				.content  .guessContainer .quoteBox .quote strong{
					color: black;
					text-transform: none;
				}				
						
				@-webkit-keyframes enter_sequence {
					0% { left:-100%; opacity: 0}
					50% { left:-100%; opacity: 0}
					100% { left:2.5%; opacity: 1}
				}
				
				@-moz-keyframes enter_sequence {
					0% { left:-100%; opacity: 0}
					50% { left:-100%; opacity: 0}
					100% { left:2.5%; opacity: 1}
				}
			
				@keyframes enter_sequence {
					0% { left:-100%; opacity: 0}
					50% { left:-100%; opacity: 0}
					100% { left:2.5%; opacity: 1}
				}
			
				.content  .guessContainer .quoteBox .quote.ng-hide {
					display:block;
					-webkit-animation: exit_sequence 1s ease-out;
					-moz-animation: exit_sequence 1s ease-out;
					animation: exit_sequence 1s ease-out;
				}
					@-webkit-keyframes exit_sequence {
						0% { left:2.5%; opacity: 1}
						50% { left:100%; opacity: 0}
						100%{ left: -100%; opacity: 0}
					}
					
					@-moz-keyframes exit_sequence {
						0% { left:2.5%; opacity: 1}
						50% { left:100%; opacity: 0}
						100%{ left: -100%; opacity: 0}
					}
					
					@keyframes exit_sequence {
						0% { left:2.5%; opacity: 1}
						50% { left:100%; opacity: 0}
						100%{ left: -100%; opacity: 0}
					}
					
		.content .guessContainer .chart {
			width: 80%;
			margin: 35px auto 30px;
			border-top: 4px solid rgba(0,0,0,1);
			border-bottom: 1px solid rgba(0,0,0,.4);
			padding-top:5px;
			padding-bottom:15px;
			font-weight:800;
		}
			
			.content .guessContainer .chart .header {
					margin-bottom: 20px;
				
			}
		
			.content .guessContainer .chart .chartContainer {
				height:200px;
				width:90%;
				margin: 0px auto 15px;
				position: relative;
			}
			
				.content .guessContainer .chart .chartContainer bar {
					position: absolute;
					background-color: #FAA61A;
					text-align: center;
					color: rgba(255,255,255,.9);
					text-shadow: none;
					font-size:14pt;
					transition: .25s all;
					
				}
					
					.content .guessContainer .chart .chartContainer bar:after{
						content: attr(year);
						position:absolute;
						bottom:-20px;
						color:black;
						width:100%;
						text-align:center;
						left:0;
						font-size:12pt;
					}
		
		.content .guessContainer .sliderBox  {
			width: 100%;
			margin-top:35px;
			transition: .25s all;
		}
		
			.content .guessContainer .sliderBox.disabled {
				opacity: .5;
				cursor:default;
				z-index:-1;
				pointer-events:none;
			}
		
			.content .guessContainer .sliderBox input[type=text]{
				width:8%;
				margin-right: 2%;
				float:left;
				font-family: FreightSans, sans-serif;
				font-size: 14pt;
				border: 1px solid lightgray;
				text-align: Center;
				margin-top: -14px;
				padding: 6px 0px 10px;
				border-radius:5px;
				box-shadow: inset 0px 0px 3px lightgray;
			}
			
			.content .guessContainer .sliderBox input[type=range]{
			    -webkit-appearance: none;
				width: 87%;
				float:left;
			}
			
			@-moz-document url-prefix() {
				.content .guessContainer .sliderBox input[type=range]{
					
					width: 84%;
					float:left;
				}
	
			}
			
			.content .guessContainer .sliderBox input[type=range]::-webkit-slider-runnable-track {
				
			    height: 5px;
			    background: #ddd;
			    border: none;
			    border-radius: 3px;
			}

			.content .guessContainer .sliderBox input[type=range]::-webkit-slider-thumb {
			    -webkit-appearance: none;
			    border: none;
			    height: 30px;
			    width: 30px;
			    border-radius: 50%;
			    background: #FAA61A;
			    margin-top: -12px;
				cursor:pointer;
			}
			
			.content .guessContainer .sliderBox input[type=range]::-moz-range-thumb {
				border: none;
			    height: 30px;
			    width: 30px;
			    border-radius: 50%;
			    background: #FAA61A;
			    margin-top: -12px;
				cursor:pointer;
			}

			.content .guessContainer .sliderBox input[type=range]:focus {
			    outline: none;
			}

			.content .guessContainer .sliderBox input[type=range]:focus::-webkit-slider-runnable-track {
			    background: #ccc;
			}
			
			.content .guessContainer .sliderBox input[type=range]::-moz-range-track {
				 background: #ccc;
			}	
			
		.content .guessContainer .buttonBox {
			width:100%;
			//float:left;
			margin:auto;
			text-align:center;
		}
		
			.content .guessContainer .buttonBox input {
				-webkit-appearance: none;
				font-family: FreightSans, sans-serif; 
				margin: 20px auto 0px;
				border:none;
				background-color: #FAA61A;
				border-radius:5px;
				padding:10px 35px;
				font-weight:900;
				color: rgba(255,255,255,.95);
				font-size:14pt;
				text-transform: uppercase;
				
			}
				.content .guessContainer .buttonBox input.submit {
					background-color: #FAA61A;
				}
				
				.content .guessContainer .buttonBox input.register {
					background-color: #76B6E3;
				}
				
				.content .guessContainer .buttonBox input:active {
					box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 0 6px rgba(0,0,0,.2) inset;
				}
				
				.content .guessContainer .buttonBox input:focus, .content .guessContainer .buttonBox input:hover {
					background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
					cursor: pointer;
				}
			
				.content .guessContainer .buttonBox input.submitted {
					opacity: .5
				}
					.content .guessContainer .buttonBox input.submitted:hover {
						cursor:default;
					}
					
			.ui-btn-active {
				background-color: #FAA61A !important;
			}	
		
@media only screen AND (max-width : 750px) {		
	.content ul.legend li {
		display: block;
		margin-bottom: 5px;
	}
	
	.content ul.legend li .removeMobile {
		display:none;
		
	}
}
@media only screen AND (max-width : 500px) {

	.removeMobile {
		display:none;
	}
	
	.content {
		width: 95%;
	}
	
	.content .guessContainer {
		margin-bottom: 40px;
		padding-bottom:40px;
	}
	
	.content .guessContainer:before {
		display: block;
		width: 30%;
		font-size: 20pt;
		margin:0px auto 10px;
		position: relative;
		left: 0;
		top: 0;
		text-align:center;
		line-height: 45px;
		display:none;
	}
	
	.content .guessContainer .quoteBox {
		width: 96%;
		height:60px;
		padding: 2%;
	}
	
	.content .guessContainer .chart {
		width: 100%;
	}
	
	.content .guessContainer .sliderBox {
		margin: 20px 0px 8px;
		width:100%;
	}
	
	.content .guessContainer .sliderBox input[type=range] {
		width: 80%;
	}
	
	.content .guessContainer .sliderBox input[type=text] {
		width: 13%;
	}
	
	.content .guessContainer .buttonBox input {
		width: 100%;
	}
	
	.content .guessContainer h1.phrase {
		font-size:30pt;
	}
	
	.content .guessContainer p {
		font-size:12pt;
	}
	
	.content .guessContainer .quoteBox {
		min-height: 100px;
	}
	
	.content .guessContainer .chart .chartContainer bar:after {
		font-size: 10pt;
	}
	
	.content .guessContainer .sliderBox input[type=text] {
		width: 100%;
		display:none;
	}
	
	.content .guessContainer .sliderBox input[type=range] {
		width: 100%;
	}
	
}